* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./media/img/seashore-pexel.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

form {
    width: 70%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    padding: 30px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content>.column {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid red;
}

.name,.registration_no{
    width: 100%;
}
.name>input, .registration_no>input{
    flex: 1;
    padding: 5px 10px;
}

